.cardsList .card{
    width: 150px;
    height:400px;
    border-radius: 10px;
    cursor: pointer;
        transition: 0.3s;
}

.cardsList .card img{
    border-radius: 10px;
    transition: 0.3s;
}

.card{
    text-align: center;
    background-color: transparent;
    border: none;
    height: 450px !important;
}
.card img{
    width: 100%;
    height: 90%;
}

.card h4{
    margin-top: 20px;
    color: #1090DF;
}

.cardsList .card:hover{
    transform: scale(1.03);
}